
{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
        <div class="row col-12 col-xl-11 p-2">
            {% for article in article_list %}
                <div class="col-12 col-md-6 col-lg-4 mb-2 mb-md-3">
                    <div class="card p-2" >
                        <img src="https://plugins.jetbrains.com/files/18232/370564/icon/pluginIcon.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ article.title }}</h5>
                            <p class="card-text">{{ article.text }}</p>
                            <a href="{% url 'article_detail' article.id %}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
<!--        <div class="row col-12 col-xl-1 ">sidebar</div>-->
    </div>
</div>
{% endblock content %}
